@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --azClaro: #99cdf5;
  --azMedio: #306ad6;
  --azEsccuro: #30348C;
  --bco: #F5FAFA;
  --pto:#0D0D0D;
  --verm: #FF3334;
  --vermEsc: #bc292a;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


main {
  width: 80%;
  max-width: 800px;
  margin: auto;
}

.imageHome {
  display: none;
}

.face {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.logoRc > img {
  height: 250px;
  
}

.logoName {
  width: 300px;
  text-align: left;
  font-size: 170%;
  font-weight: bolder;
}

.logoName h1 {
  color: var(--azEsccuro) ;
  font-weight: 900;
  
  
}

  .sobreNos {
    padding: 20px 0px 0px 0px;
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 10fr;
  }
  
  .sobreNos div {
    display: flex;
    background: var(--azEsccuro);
    height: 60px;
    color: var(--bco);
    font-size: 2em;
    font-weight: bold;
    text-align:left;
    align-items: center;
    padding: 0px 15px;
  }
  
  .sobreNosUm {
    width: 10px;
    background: var(--vermEsc);
  }

.textInfo {
  text-align: left;
  color: #03001fcc;
  margin: 20px auto 100px auto;
  text-indent: 20px;
  font-size: 1.2em;
  font-weight: 500;
}

section {
  margin: 0px;
}

.produtos h1 {
  text-align: center;
  font-weight: 1000;
  font-size: 3.8em;
  background: var(--azEsccuro);
  color: var(--bco);
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 0px 5px #06060626;
  border-radius: 10px;
  margin: 40px 0px;
  padding: 40px 10px;
  
}

.demoTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  margin: 10px;
  
}

.demoImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

article p {
  color: #03001fb8;
  font-weight: 500;
}

article img {
  width: 260px;
  height: 260px;
}

.button {
  background-color: var(--azEsccuro);
  color: #fff;
  font-weight: bold;
  width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 40px;
  transition: 100ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
}

.button:hover {
  background-color: var(--azMedio);
  box-shadow: 0px 0px 10px #03001f47;
}

h2 {
  color: #03001F;
  font-size: 30px;
  margin-bottom: 10px;
}

.anunciantes h2 {
  margin: auto;
  text-align: center;
  margin: 100px 0px 30px 0px;
  font-size: 2.5em;
  color: var(--bco);
  background: var(--azEsccuro);
}

.anunciantes div {
  width: 100%;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  margin: 30px auto;
  
}

.anunciantes img {
  width: 15%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #0606066E;
}

@media screen and (max-width: 700px) {
  
  main {
    width: 100%;
    padding: 30px;
  }
  
  .imageHome {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    
  }
  
  .imageHome img {
    width: 90%;
    max-width: 600px;
    
  }
  
  .face {
    display: none;
  }
  
  .produtoDemo {
    padding: 10px 5px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    
    margin: 40px 0px;
    border-radius: 10px;
  }
  
  .produtoDemo img {
    margin: auto;
  }

  .produtoDemo p {
    max-width: 600px;
  }
  
}