@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --azClaro: #99cdf5;
  --azMedio: #306ad6;
  --azEsccuro: #30348C;
  --bco: #F5FAFA;
  --pto:#0D0D0D;
  --verm: #FF3334;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--bco);
}

header {
  background-color: var(--azEsccuro);
  color: white;
  padding: 0px;
  display: flex;
}

.logoRcCab {
  flex: auto;
  
}

.logoRcCab h3 {
  display: none;
}

.navBar {
  
  padding-left: 10px;
  padding-right: 10px;
  transition: 100ms;
}

.logoRcCab img {
  margin: 12px;
  width: 40px;
  height: 40px;
  
}

#menuH span {
  display: none;
  
  
}

.navBar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navBar ul li {
  color: white;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}

.iconsRedes span {
  margin: 0px 5px;
  color: #ffffff;
}

.iconsRedes span:hover {
  color: #bababa;
}

a {
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  width: 10px;
  padding: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

#rodape {
  width: 100%;
  margin-top: 50px;
  background-color: var(--azEsccuro);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px ;
}

#rodape div {
  margin: 15px 0px;
}

@media screen and (max-width: 900px) {
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .cabecalho {
    display: flex;
    justify-content: space-between;
  }
  
  .logoRcCab {
    width: 40px;
    flex: none;
    width: 50%;
    display: flex;
    justify-content:left;
    align-items: center;
    
  }

  .logoRcCab h3 {
    display: block;
    font-size: 24px;
    margin-left: 4px;
  }

  .logoRcCab a {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0px;
    padding-left: 20px;
  }
  
  .logoRcCab img {
    margin: 0px;
    width: 60px;
    height: 60px;
  }
  
  #menuH {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content:end;
    padding-right: 20px;
  }
  
  #menuH span {
    
    display: block;
    background: transparent;
    color: #fff;
    
    height: 40px;
    font-size: 30px;
    
  }

  #menuH span:hover {
    cursor: pointer;
  }
  
  .navBar {
    
    position: fixed;
    width: 320px;
    height: 100%;
    background: var(--bco);
    box-shadow: 200px 0px 20px #0000003D;
    
    padding: 60px 10px;
    overflow: hidden;
    border-radius: 0px 20px 20px 0px;
}
  
  i {
    color: #112D8A;
    font-size: 28px;
    margin-right: 10px;
  }
  
  .navBar span {
    color: #000;
  }
  
  .navBar ul {
    display: block;
    
  }
  
  .navBar li {
    margin: 20px 0px;
    
  }
  
  .navBar a {
    color: #112D8A;
    text-align: left;
    font-size: 20px;
    
  }
  
  
  
}