@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --azClaro: #99cdf5;
  --azMedio: #306ad6;
  --azEsccuro: #30348C;
  --bco: #F5FAFA;
  --pto:#0D0D0D;
  --verm: #FF3334;
  --vermEsc: #bc292a;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bco);
}

header {
  background: var(--azEsccuro);
  color: white;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

.logoRcCab {
  width: 80px;
}

.logoRcCab h3 {
  display: none;
}

#inpSearch {
  height: 35px;
  border-radius: 5px;
  border: 2px solid var(--azEsccuro) ;
  background: var(--bco);
  color: var(--pto);
  padding: 0px 30px 0px 10px ;
}

#inpSearch::placeholder {
  color: var(--azEsccuro);
}

.navBar {
  
  padding-left: 10px;
  padding-right: 10px;
  transition: 200ms;
}

.logoRcCab img {
  margin: 12px;
  
  height: 40px;
  
}

#menuH input {
  display: none;
}

.navBar h1 {
  display: none;
}

.navBar {
  display: flex;
  align-items: center;
}

.navBar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navBar ul li {
  color: var(--bco);
  list-style-type: none;
  justify-content: center;
  
  padding: 10px;
}

.navBar a {
  color: var(--bco);
  text-decoration: none;
}

.iconsRedes span {
  margin: 0px 5px;
  color: var(--bco);
}

.iconsRedes span:hover {
  color: #bababa;
}

.iconsRedes a {
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  width: 10px;
  padding: 5px;
  text-decoration: none;
  color: var(--azEsccuro);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

#rodape {
  background-color: var(--azEsccuro);
  margin-top: 20px;
  padding: 20px;
  color: white;
}

#rodape div {
  display: flex;
  flex-direction: column;
}

#rodape div h2 {
  color: var(--bco);
  margin-top: 20px;
}

#rodape a {
  color: var(--bco);
  margin: 5px 0px;
  text-decoration: none;
}

.copy {
  margin: 20px auto;
}

@media screen and (max-width: 700px) {
  


  #cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  
  .logoRcCab {
    display: flex;
    justify-content:left;
    align-items: center;
    
  }

  .logoRcCab h3 {
    display: none;
    font-size: 24px;
    margin-left: 4px;
    
  }

  .logoRcCab a {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0px;
    padding-left: 20px;
  }
  
  .logoRcCab img {
    margin: 6px 0px;
    height: 55px;
  }
  
  
  #menuH {
    align-items: center;
    display: flex;
    justify-content:end;
    padding-right: 20px;
  }

  #menuH input {
    display: block;
  }

  .menu { /* Animaçao para menu hamburguer*/
    --s: 26px; /* control the size */
    --c: white ; /* the color */
    
    
    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s)/2) solid #0000; 
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
           no-repeat content-box border-box;
    --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
           repeat-y content-box border-box;
    background: 
      var(--_g2) left  var(--_p,0px) top,
      var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
      var(--_g2) right var(--_p,0px) top,
      var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
    background-size: 
      20% 80%,
      40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
    cursor: pointer;
    transition: 
      background-position .3s var(--_s,.3s), 
      clip-path 0s var(--_s,.6s);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }
  .menu:before,
  .menu:after {
    content:"";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform .3s calc(.3s - var(--_s,.3s));
  }
  
  .menu:checked {
    clip-path: inset(0);
    --_p: calc(-1*var(--s));
    --_s: 0s;
  }
  .menu:checked:before {
    transform: rotate(45deg);
  }
  .menu:checked:after {
    transform: rotate(-45deg);
  }
  .menu:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
  }

  
  .navBar {
    position: fixed;
    width: 80%;
    height: 100%;
    background: var(--bco);
    box-shadow: 200px 0px 20px #0000003D;
    top: 0%;
    left: -300%;
    overflow: hidden;
    border-radius: 0px 0px 20px 0px;
    padding-top: 30px;
    display: grid;
    justify-content: space-between;
    
}

  .ativo {
    background-color: rgba(0, 0, 0, 0.068);
    
  }


  .navBar ul li {
    align-items: center;
    justify-content: start;
    padding-left: 20px;
  }
  
  .title {
    display: none;
  }
  
  .navBar i {
    color: var(--azEsccuro);
    font-size: 30px;
    padding-right: 15px;
  }
  
  .navBar span {
    color: var(--azEsccuro);
    
  }
  
  .navBar ul {
    flex-direction: column;
    
    justify-content: flex-start;
    width: 150%;
  }
  
  .navBar li {
    height: 80px;
    width: 100%;
    display: flex;
  }
  
  .navBar a {
    color: var(--azEsccuro);
    font-size: 30px;
    text-decoration: none;
  }
  
  .iconsRedes {
    width: 100%;
    justify-content: space-around;
    display: flex;
  }
  
  #rodape {
    margin-top: 20px;
    padding: 20px;
  }
  
  #rodape div {
    display: flex;
    flex-direction: column;
  }
  
  #rodape div h2 {
    color: var(--bco);
    margin-top: 20px;
  }
  
  #rodape a {
    color: var(--bco);
    margin: 5px 0px;
    text-decoration: none;
  }
  
  .copy {
    margin: 20px auto;
  }
}